
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  }
  
  * {
      font-family: 'Poppins' !important;
  }

  
body {
    background-color: #F4F7FC;
}

.grid2-teams-container {
    display: flex;
    justify-content: center;
}

.button-manage {
    color : #778CA3;
    font-weight: bold;
    background: #EAEEF4;
    padding: 0.4rem 1rem;
    font-size: 0.6rem;
    border-radius: 1rem;
    text-align: center;
    border: 0.1rem solid #D6E1E3;
    cursor: pointer;
}

.button-manage:hover {
  background: #2c3e50;
  color: #fff !important;
  border: 0.1rem solid #2c3e50;
  transition: 0.7s;
}

.mobile-space {
  padding-top: 1.5rem;
}



.card-menu {
    background: #fff;
    border-radius: 0.2rem;
    min-height: 290px;
    max-height: 290px;
    margin-bottom: 0.25rem;
    background: #fff;
    overflow: hidden;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // position: relative;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.card-menu:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);

      .card-notif {
        background: none !important;
        font-weight: bold;
      }
  }
  
  .card-menu:hover .overlay {
    transform: scale(5) translateZ(0);
  }
  
  // .card-menu:hover .circle {
  //   border-color: var(--bg-color-light);
  //   background: var(--bg-color);
  // }
  
  .card-menu:hover .circle:after {
    background: var(--bg-color-light);
  }
  
  .card-menu:hover p {
    color: var(--text-color-hover);
  }
  .card-menu:hover h5 {
    color: var(--text-color-hover);
  }
  
  .card-menu:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0,0,0,0.11),
      0 15px 24px var(--box-shadow-color);
  }
  
  .card-menu p {
    font-size: 14px;
    color: #4C5656;
    z-index: 1000;
    transition: color 0.3s ease-out;
  }


  .courses {
    --bg-color: rgba(32, 191, 107, 1);
    --bg-color-light: #F0E7FF;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
  }

  .docs {
      --bg-color: #EB3E5D;
      --bg-color-light: #F0E7FF;
      --text-color-hover: #fff;
      --box-shadow-color: rgba(206, 178, 252, 0.48);
  }

  .schelude {
    --bg-color: #8854D0;
    --bg-color-light: #F0E7FF;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.checkin {
    --bg-color: #F7B731;
    --bg-color-light: #F0E7FF;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(206, 178, 252, 0.48);

}

.groupchat {
  --bg-color: #EB3E5D;
  --bg-color-light: #F0E7FF;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.groupchat {
  --bg-color: #EB3E5D;
  --bg-color-light: #F0E7FF;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(206, 178, 252, 0.48);
}


.infoboard {
  --bg-color: #8854D0;
  --bg-color-light: #F0E7FF;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(206, 178, 252, 0.48);

}

.tasks {
  --bg-color: rgba(32, 191, 107, 1);
    --bg-color-light: #F0E7FF;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.tools {
  --bg-color: #F7B731;
  --bg-color-light: #F0E7FF;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(206, 178, 252, 0.48);

}


.bcards-red  {
  --bg-color: #EB3E5D;
  --bg-color-light: #F0E7FF;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(206, 178, 252, 0.48);
}


.bcards-purple {
  --bg-color: #8854D0;
  --bg-color-light: #F0E7FF;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(206, 178, 252, 0.48);

}

.bcards-green {
  --bg-color: rgba(32, 191, 107, 1);
    --bg-color-light: #F0E7FF;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.bcards-yellow {
  --bg-color: #F7B731;
  --bg-color-light: #F0E7FF;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(206, 178, 252, 0.48);

}


  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
  }
  
 
  

  .overlay {
    width: 100px;
    position: absolute; 
    height: 100px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 30px;
    left: 80px;
    z-index: -10;
    transition: transform 0.3s ease-out;
  }


  

.card-notif {
    background: #EB3B5A;
    color: #fff;
    font-weight: 500;
    // min-height: 22px;
    border-radius: 0.2rem;
    font-size: 0.7rem;
    padding: 0.2rem 0.2rem;
}

.bg-none {
  background: none !important;
}

.min-h22 {
  min-height: 1.5rem;
  max-height: 1.5rem;
}
.text-card {
    color: #4C5E74;
    font-size: 14px !important;
}

.bg-class {
    background-color: #F4F7FC;
    height: 100vh;
}

.text-desc-card {
    font-size: 0.7rem !important;
    text-align: center !important;
}

.grid-student-card {
  border: 1px solid #A5B1C2;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.5rem;
 
}

.fab-space-mobile {
  display: none;
}
.grid-addstudent-card {
  border: 2px dashed #A5B1C2;
  padding: 0.3rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;

 h5 {
  font-size: 1rem !important;
  font-weight: 600;
  color: #A5B1C2;
 }

}

// .grid-addstudent-card:hover {
//   border: 2.5px dashed #A5B1C2;
//   h5 {
//     font-size: 1rem !important;
//     font-weight: 700;
//     color: #A5B1C2;
//    }
// }
.font-1rem {
  font-size: 1rem !important;
}

.ant-btn-primary {
  background: #8854D0 !important;
  border-color: #8854D0 ;
}

.ant-btn-primary:hover{
  background: #8854D0 !important;
  border-color: #8854D0 !important;
  color: #fff !important;
}

.ant-btn:hover {
  border-color: rgba(0, 0, 0, 0.65);
  color: rgba(0, 0, 0, 0.65);
}

.btn-action {
  position: absolute !important;
  top: -15px;
  right: -15px;
}


.btn-settingaddon {
  color: #778CA3 !important;
  font-weight: bold;
  background: none !important;
  padding: 0.4rem 1rem;
  font-size: 0.7rem;
  border-radius: none;
  border: none !important;
  cursor: pointer;
}

.btn-settingaddon:hover {
  color: #3498db !important;
  border: 0.1rem solid #2c3e50;
  transition: 0.7s;
}

.span-label-admin{
  background-color: #87d068;
  height: 100%;
  color: #fff;
  padding: 1px 4px;
  border-radius: 3px;
  font-size: 10px !important;
  margin-top: 3px;
}

.img-mobile-menu {
  width: 80%;
}

@media only screen and (max-width:768px){
  .mobile-space{
    padding-top: 4rem !important;
  }

  .overlay {
    top: 25px;
    left: 30px;
    height: 85px;
  }

  .img-mobile-menu {
    width: 100%;
  }

  .mobile-space .grid2-teams-container {
    flex-direction: column;
  }

  .mobile-space .button-manage {
    width: 50%;
    justify-content: center;
    text-align: center;
    display: flex;
  }

  .mobile-space .buttonmanage-wrap-space{
    justify-content: center;
    text-align: center;
    display: flex;
  }

  .mobile-space .avatar-space {
    flex-direction: row;
    justify-content: center;
    display: flex;
    margin-bottom: 1rem;
  }

  .card-menu{
    min-height: 250px;
    max-height: 250px;
  }

  .card-menu h5 {
    font-size: 12px !important;
   
  }
  
  .card-menu div h5 {
    font-size: 10px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis
  }

  .fab-space-mobile {
    display: inline-block;
  }

}