.trello-title-project {
  font-size    : 1.5rem !important;
  font-weight  : 900;
  color        : #1E272E;
  margin-bottom: 0.5rem;
}

.input-post-modaltrello {
  width: 93%;
}

.post-mobile-trellomodal {
  width: 90%;
}

.containerboards {
  width         : 95%;
  margin-left   : auto;
  margin-right  : auto;
  margin-top    : 1.5rem;
  display       : flex;
  padding-bottom: 1.5rem;
}


p {
  margin-bottom: 0px !important;
}

.bg-class {
  background-color: #F4F7FC;
  height          : 100vh;
}

.trello-container {
  width       : 95%;
  margin-left : auto;
  margin-right: auto;
  margin-top  : 1.5rem;
}

.trello-container-div {
  min-height      : 100vh;
  background-color: #F4F7FC;
}

.trello-title-team {
  font-size    : 1rem !important;
  font-weight  : 600;
  color        : #1E272E;
  margin-bottom: 0px;
  text-align   : center;
}

.trello-team-visible-optio {
  color: #6b778c;
}

.trello-pop-over-header-title {
  box-sizing   : border-box;
  color        : #5e6c84;
  display      : block;
  line-height  : 40px;
  margin       : 0 12px;
  overflow     : hidden;
  padding      : 0 32px;
  position     : relative;
  text-overflow: ellipsis;
  white-space  : nowrap;
  z-index      : 1;
  font-size    : 14px !important;
}

.trello-icon-container {
  margin-left : 0.2rem;
  margin-right: 0.2rem;
}

.trello-bordering-team {
  margin-right: 0.5rem;
  margin-left : 0.5rem;
  font-size   : 1rem !important;
}

.trello-title-column {
  padding         : 8px;
  color           : #1E272E;
  // border-bottom: 0.1px solid #D6E1E3;
}

.trello-title-column h3 {
  font-size  : 0.9rem !important;
  font-weight: 600;
  color      : #1E272E;
}

.trello-column-container {
  border          : 0.1rem solid lightgrey;
  border-top      : none;
  border-right    : none;
  border-left     : none;
  border-bottom   : none;
  border-radius   : 2px;
  width           : 250px;
  margin-left     : 0.3rem;
  margin-right    : 1rem;
  background-color: #EAEEF4;
  border-radius   : 0.3rem 0.3rem 0rem 0rem;
}

.trello-header-column {
  height       : 0.3rem;
  border-radius: 0.2rem 0.2rem 0rem 0rem;
}

.trello-container-tasklist {
  padding-top      : 8px;
  padding-left     : 8px;
  padding-right    : 8px;
  max-height       : 55vh;
  overflow-y       : auto;
  // padding-bottom: 8px;
}

.trello-container-tasklist::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color  : #F5F5F5;
  border-radius     : 10px;
}

.trello-container-tasklist::-webkit-scrollbar {
  width           : 5px;
  background-color: #F5F5F5;
}

.trello-container-tasklist::-webkit-scrollbar-thumb {
  background-color: #AAA;
  border-radius   : 10px;
}

.trello-container-tasklist2 {
  // padding-top: 8px;
  padding-left  : 8px;
  padding-right : 8px;
  padding-bottom: 8px;
}

.trello-title-task {
  margin-top : 0.1rem;
  color      : #1E272E;
  font-size  : 0.8rem !important;
  font-weight: 700;
}

.trello-title-taskmodal {
  margin-top : 0.1rem;
  color      : #1E272E;
  font-weight: 700;
}

.trello-button-info {
  background-color: #8854D0;
  color           : #fff;
  border-radius   : 0.20rem;
  padding         : 0rem 0.6rem;
  margin-right    : 0.3rem;
  margin-top      : 0.2rem;
  height          : 100%;
}

.trello .ant-card-body {
  padding: 0px !important;
}

.trello-button-add {
  background-color: #61BD4F !important;
  color           : #fff !important;
}

.trello-button-add:hover {
  background-color: #61BD4F !important;
  color           : #fff;
  border-color    : #61BD4F !important;
}

.trello-font12 {
  font-size: 12px !important;
  color    : #778CA3;
}

.trello-button-modal {
  background-color          : rgba(9, 30, 66, .04) !important;
  box-shadow                : none;
  border-radius             : 3px;
  box-sizing                : border-box;
  cursor                    : pointer;
  display                   : block;
  height                    : 32px;
  margin-top                : 8px;
  min-width                 : 170px;
  max-width                 : 300px;
  overflow                  : hidden;
  padding                   : 6px 12px;
  position                  : relative;
  text-decoration           : none;
  text-overflow             : ellipsis;
  -webkit-user-select       : none;
  -moz-user-select          : none;
  -ms-user-select           : none;
  user-select               : none;
  white-space               : nowrap;
  transition-property       : background-color, border-color, box-shadow;
  transition-duration       : 85ms;
  transition-timing-function: ease;
  color                     : rgb(9, 30, 66) !important;
  font-size                 : 14px !important;
}

.trello-button-modal:hover {
  background-color: rgba(9, 30, 66, 0.08) !important;
  box-shadow      : none;
  border-width    : initial;
  border-style    : none;
  border-color    : initial;
  border-image    : initial;
  color           : initial;
  font-size       : 14px !important;
}

.trello-title-section-menu {
  color         : #5e6c84;
  font-size     : 12px !important;
  font-weight   : 500;
  letter-spacing: .04em;
  line-height   : 16px;
  margin-top    : 16px;
  text-transform: uppercase;
  line-height   : 20px;
  margin-bottom : -4px;
}


.trello-title-modal-section {
  display    : flex;
  align-items: center;
  min-height : 32px;
}

.trello-title-modal-h3 {
  display    : inline-block;
  width      : auto;
  margin     : 0;
  min-height : 18px;
  min-width  : 40px;
  font-size  : 14px !important;
  font-weight: bold;
}

.trello-title-modal-h2 {
  display    : inline-block;
  width      : auto;
  margin     : 0;
  min-height : 18px;
  min-width  : 40px;
  font-size  : 20px !important;
  font-weight: 700;
}


.trello-button-edit {
  background-color          : rgba(9, 30, 66, .04);
  box-shadow                : none;
  border                    : none;
  border-radius             : 3px;
  box-sizing                : border-box;
  cursor                    : pointer;
  display                   : block;
  height                    : 32px;
  // margin-top             : 8px;
  min-width                 : 40px;
  max-width                 : 300px;
  overflow                  : hidden;
  padding                   : 6px 12px;
  position                  : relative;
  text-decoration           : none;
  text-overflow             : ellipsis;
  -webkit-user-select       : none;
  -moz-user-select          : none;
  -ms-user-select           : none;
  user-select               : none;
  white-space               : nowrap;
  transition-property       : background-color, border-color, box-shadow;
  transition-duration       : 85ms;
  transition-timing-function: ease;
  color                     : rgb(9, 30, 66);
}

.trello-button-edit:hover {
  background-color: rgba(9, 30, 66, 0.08);
  box-shadow      : none;
  border-width    : initial;
  border-style    : none;
  border-color    : initial;
  border-image    : initial;
  color           : initial;
}

.trello-visible-option-detail {
  font-size: 12px !important;
}

.trello-detail-p {
  font-weight  : 500;
  color        : #fff;
  margin-bottom: 0;
  display      : inline-block;
  font-size    : 0.7rem !important;
}

.trello-detail-icon {
  vertical-align: middle;
  margin-bottom : 0;
  font-size     : 0.7rem !important;
  font-weight   : 700;
  margin-top    : 0.25rem;
}


.trello-list-member {
  border-radius   : 3px;
  display         : block;
  height          : 38px;
  line-height     : 32px;
  overflow        : hidden;
  position        : relative;
  text-overflow   : ellipsis;
  text-decoration : none;
  white-space     : nowrap;
  padding         : 4px;
  margin-bottom   : 2px;
  background-color: rgba(9, 30, 66, .04);
}

.grid-addstudent-card {
  border       : 2px dashed #A5B1C2;
  padding      : 1rem;
  margin-top   : 0.25rem;
  margin-bottom: 0.25rem;
  border-radius: 0.5rem;
  font-size    : 1rem;
  cursor       : pointer;


  h5 {
    font-size  : 1rem !important;
    font-weight: 600;
    color      : #A5B1C2;
  }

}

.grid-student-card {
  border       : 1px solid #A5B1C2;
  padding      : 0.25rem 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.5rem;
  cursor       : pointer;
}

.grid-student-card {
  border       : 1px solid #A5B1C2;
  padding      : 0.25rem 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.5rem;
  cursor       : pointer;
}


.grid-student-cards:hover {
  border: 1.5px solid #e74c3c;
  cursor: pointer;

  .icon-min-boardmember {
    display: inline-block !important;
  }
}

.icon-min-boardmember {
  display: none !important;
}

.grid-student-admin {
  border       : 1px solid #A5B1C2;
  padding      : 0.25rem 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.5rem;
}

.active-btn-form {
  background  : #27ae60 !important;
  border-color: #27ae60 !important;
  color       : #fff;
}

.active-btn-form:hover {
  background: #27ae60 !important;
  color     : #fff !important;
  border    : none !important;
}

.active-btn-form:active {
  background: #27ae60 !important;
  color     : #fff !important;
  border    : none !important;
}

.active-btn-form:visited {
  background: #27ae60 !important;
  color     : #fff !important;
  border    : none !important;
}

.font-14px {
  font-size: 14px !important
}

.font-12px {
  font-size: 12px !important
}


.trello-modal-dropdown {
  background   : #fff;
  border-radius: 3px;
  box-shadow   : 0 8px 16px -4px rgba(9, 30, 66, .25), 0 0 0 1px rgba(9, 30, 66, .08);
  height       : 100%;
  width        : 250px;
}

.btn-default-trello-mt {
  margin-top: 0.5rem !important;
}

.pop-over-header {
  height       : 40px;
  position     : relative;
  margin-bottom: 8px;
  text-align   : center;
}

.pop-over-header-title {
  box-sizing   : border-box;
  color        : #5e6c84;
  display      : block;
  line-height  : 40px;
  border-bottom: 1px solid rgba(9, 30, 66, .13);
  margin       : 0 0px;
  overflow     : hidden;
  padding      : 0 32px;
  position     : relative;
  text-overflow: ellipsis;
  white-space  : nowrap;
  z-index      : 1;
}

.text-boardmember-mobile {
  white-space  : nowrap;
  width        : 150px;
  overflow     : hidden;
  text-overflow: ellipsis;
}

.span-label-adminboard {
  background-color: #87d068;
  color           : #fff;
  padding         : 1px 4px;
  border-radius   : 3px;
  font-size       : 10px !important;
}


.container-textare-trello-input {
  overflow: hidden;
  padding : 6px 8px 2px;
  position: relative;
  z-index : 10;
}


.mod-add {
  background-color: #ebecf0;
  border-radius   : 3px;
  height          : 85px;
  min-height      : 32px;
  padding         : 0px;
  width           : 250px;
  margin-left     : -8px;
  margin-right    : -8px;
  // transition   : background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
}

.list-card {
  background-color: #fff;
  border-radius   : 3px;
  box-shadow      : 0 1px 0 rgba(9, 30, 66, .25);
  cursor          : pointer;
  display         : block;
  margin-bottom   : 8px;
  max-width       : 250px;
  min-height      : 20px;
  position        : relative;
  text-decoration : none;
  z-index         : 0;
  width           : 235px;
  margin          : 0.3rem auto;

}

.list-card-details {
  overflow: hidden;
  padding : 6px 8px 2px;
  position: relative;
  z-index : 10;

}

.pop-over-header {
  height       : 40px;
  position     : relative;
  margin-bottom: 8px;
  text-align   : center;
}

.pop-over-header-title {
  box-sizing   : border-box;
  color        : #5e6c84;
  display      : block;
  line-height  : 40px;
  border-bottom: 1px solid rgba(9, 30, 66, .13);
  margin       : 0 12px;
  overflow     : hidden;
  padding      : 0 32px;
  position     : relative;
  text-overflow: ellipsis;
  white-space  : nowrap;
  z-index      : 1;
}

.windows-header {
  margin          : -24px;
  background-color: #f4f5f7;
  border-radius   : 2px;
  // display      : none;
  // margin       : 48px 0 80px;
  overflow        : hidden;
  position        : relative;
  width           : 768px;
  z-index         : 25;
  // padding      : 2rem 1rem;
}

.window-sidebar {
  // float: right;
  padding : 0 16px 8px 8px;
  // width: 168px;
  overflow: hidden;
  z-index : 10;
}

.windows-header .top-window-header {
  margin    : 12px 0px 8px 56px;
  min-height: 32px;
  position  : relative;
  z-index   : 1;
}

.window-title {
  margin : 4px 0 0;
  padding: 8px 0 0;
}

.window-title h2 {
  margin-right : 4px;
  font-size    : 20px !important;
  line-height  : 24px;
  color        : #172b4d !important;
  font-weight  : 600 !important;
  margin-bottom: 0 !important;
}

.window-header-inline-content {
  cursor   : default;
  display  : inline-block;
  margin   : 4px 8px 4px 2px;
  font-size: 14px !important;
}

.quiet a {
  color: #5e6c84;

}

.quiet {
  color    : #5e6c84 !important;
  font-size: 12px !important;
}

.text-underline {
  text-decoration: underline;
}


.add-attachment {
  background-color: rgba(9, 30, 66, .04);
  box-shadow      : none;
  border          : none;
  padding         : 2% 2%;
  border-radius   : 5%;
  color           : #091e42;
  font-size       : 12px !important;
}

.add-attachment:hover {
  background-color: rgba(9, 30, 66, .08);
  box-shadow      : none;
  border          : none;
}



.u-bottom {
  margin-bottom : 0;
  padding-bottom: 0;
}

.u-inline-block {
  display: inline-block;
  margin : 0 0 8px;
}

.window-header-inline-content a {
  display        : inline;
  color          : #5e6c84;
  cursor         : pointer;
  text-decoration: underline;
}

.card-detail-data {
  margin-top : 8px;
  margin-left: 50px;
}

.card-detail-item {
  display  : block;
  float    : left;
  margin   : 0 8px 8px 0;
  max-width: 100%;
}

.card-detail-item-header {
  color         : #5e6c84;
  font-size     : 12px !important;
  font-weight   : 500;
  letter-spacing: .04em;
  line-height   : 16px;
  margin-top    : 16px;
  text-transform: uppercase;
  display       : block;
  line-height   : 20px;
  margin        : 0 8px 4px 0;
  white-space   : nowrap;
  text-overflow : ellipsis;
  overflow      : hidden;
}

.mod-card-detail {
  border-radius: 3px;
  box-sizing   : border-box;
  display      : block;
  float        : left;
  font-weight  : 600;
  height       : 32px;
  line-height  : 32px;
  margin       : 0 4px 4px 0;
  min-width    : 40px;
  padding      : 0 12px;
  width        : auto;
}

.mod-card-details {
  border-radius: 4px;
  box-sizing   : border-box;
  display      : block;
  float        : left;
  font-weight  : 300;
  // height    : 32px;
  // margin    : 0 4px 4px 0;
  min-width    : 40px;
  padding      : 0 12px;
  width        : auto;
}

.card-labelmodal {
  color       : #fff;
  padding     : 7px 12px;
  font-size   : 12px !important;
  font-weight : 600;
  margin-right: 4px;
  min-height  : 32px;
  text-align  : center;
}

.card-label {
  background-color       : #b3bac5;
  border-radius          : 4px;
  color                  : #fff;
  display                : block;
  margin-right           : 4px;
  max-width              : 100%;
  overflow               : hidden;
  padding                : 4px 6px;
  position               : relative;
  text-overflow          : ellipsis;
  white-space            : nowrap;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.card-detail-item-add-button {
  background-color          : rgba(9, 30, 66, .04);
  box-shadow                : none;
  border                    : none;
  border-radius             : 3px;
  height                    : 28px;
  cursor                    : pointer;
  display                   : block;
  margin                    : 0 8px 8px 0;
  transition-property       : background-color, border-color, box-shadow;
  transition-duration       : 85ms;
  transition-timing-function: ease;
}

.card-detail-item-add-button:hover {
  background-color: rgba(9, 30, 66, .08);
  box-shadow      : none;
  border          : none;
}

.card-label-green {
  background-color: #61bd4f;
}

.card-label .mod-clickable {
  cursor: pointer;
}

.card-label-orange {
  background-color: #ff9f1a;
}

.card-label-purple {
  background-color: #c377e0;
}

.card-label-blue {
  background-color: #0079bf;
}

.icon-style {
  font-size  : 12px !important;
  height     : 16px;
  line-height: 16px;
  padding    : 8px;
  // width   : 16px;
  position   : relative;
  top        : calc(50% - 10px);
}

.card-detail-due-status-lozenge {
  font-size       : 14px;
  line-height     : 16px;
  padding         : .5rem;
  border-radius   : 2px;
  color           : #fff;
  display         : inline-block;
}

.window-module {
  clear        : both;
  margin-bottom: 8px;
  position     : relative;
}

.window-module-title {
  display    : flex;
  align-items: center;
  min-height : 32px;
  padding    : 8px 0;
  position   : relative;
  margin     : 0 0 4px 50px
}

.window-module-title-desc {
  display       : block;
  flex-direction: row;
  align-items   : center;
  min-height    : 32px;
  padding       : 8px 0;
  position      : relative;
  margin        : 0 0 4px 50px
}

.window-module-title h3 {
  display    : inline-block;
  width      : auto;
  margin     : 0;
  min-height : 18px;
  min-width  : 40px;
  font-size  : 16px !important;
  line-height: 20px;
  color      : #42526e !important;
  font-weight: 600
}

.window-module-title-icon {
  left       : -40px;
  position   : absolute;
  // top     : 2px;
  top        : 8px;
  height     : 32px;
  line-height: 32px;
  width      : 32px;
  color      : #42526e !important;
  font-size  : 20px !important;
}

.button-subtle {
  margin: 0 0 0 8px;
}

.btn-edit-desc {
  background-color: rgba(9, 30, 66, .04) !important;
  box-shadow      : none;
  border          : none !important;
  color           : #091e42 !important;
}

.btn-edit-desc:hover {
  background-color: rgba(9, 30, 66, .08) !important;
  box-shadow      : none;
  border          : none;
}

.description-desc-modal {
  font-size: 14px !important;
  color    : #42526e !important;
}

.attachment-thumbnail {
  border-radius: 3px;
  min-height   : 80px;
  margin       : 0 0 8px;
  overflow     : hidden;
  position     : relative;
}

.attachment-thumbnail-preview {
  background-color   : rgba(9, 30, 66, .04);
  background-position: 50%;
  background-size    : contain;
  background-repeat  : no-repeat;
  border-radius      : 3px;
  height             : 80px;
  margin-top         : -40px;
  position           : absolute;
  top                : 50%;
  left               : 0;
  text-align         : center;
  text-decoration    : none;
  z-index            : 1;
  width              : 112px;
}

.attachment-thumbnail-details {
  box-sizing: border-box;
  cursor    : pointer;
  padding   : 8px 8px 8px 128px !important;
  min-height: 80px;
  margin    : 0;
  z-index   : 0;
}


.attachment-thumbnail-details:hover {
  background-color: rgba(9, 30, 66, .04);
}

.attachment-thumbnail-name {
  font-weight: 700;
  word-wrap  : break-word;
  font-size  : 12px !important;
}

.window-module-title-options {
  float       : right;
  margin-right: 2px;
}

.checklist-title {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  flex-flow      : row wrap;
}

.checklist-title .ant-progress-inner {
  margin-top      : 1rem;
  background-color: #fff;
}

.checklist-progress-percentage {
  color      : #5e6c84;
  font-size  : 12px !important;
  line-height: 10px;
  position   : absolute;
  left       : -35px;
  top        : 55px;
  text-align : center;
  width      : 32px;
}

.checklist-list {
  cursor: pointer;
}

.checklist-list-delete {
  visibility: hidden;
}

.checklist-list:hover {
  background-color: rgba(9, 30, 66, 0.04) !important;
}

.checklist-list:hover .checklist-list-delete {
  visibility: visible;
}

.checklist-list-delete:hover {
  background-color: rgba(9, 30, 66, 0.1) !important;
}

.new-comment {
  position: relative;
  margin  : 0 0 8px 40px;
}

.member {
  position: absolute;
  left    : -40px;
}

.comment-box-input {
  background: #fff !important;
  box-sizing: content-box;
  box-shadow: none;
  height    : 20px;
  margin    : 0;
  min-height: 20px;
  padding   : 0;
  width     : 100% !important;
  resize    : none;
}

.textarea-mod-card-back-title {
  background   : transparent;
  border-radius: 3px;
  box-shadow   : none;
  font-size    : 20px;
  font-weight  : 600;
  height       : 32px;
  line-height  : 24px;
  margin       : -4px -8px;
  min-height   : 24px;
  padding      : 4px 8px;
  resize       : none;
}

.description-fake-text-area {
  background-color: rgba(9, 30, 66, .04);
  box-shadow      : none;
  border          : none;
  border-radius   : 3px;
  display         : inline-block;
  min-height      : 108px;
  padding         : 8px 12px;
  text-decoration : none;
  width           : 100%;
  color           : #42526e !important;
}


.edit {
  display       : block;
  float         : left;
  padding-bottom: 9px;
  z-index       : 50;
  width         : 100%;
}

.textarea-desc-edit {
  overflow                  : hidden;
  overflow-wrap             : break-word;
  resize                    : none;
  height                    : 108px;
  width                     : 100%;
  min-height                : 108px;
  background                : #fff;
  box-shadow                : none;
  display                   : block;
  border                    : none;
  box-sizing                : border-box;
  -webkit-appearance        : none;
  border-radius             : 3px;
  line-height               : 20px;
  transition-property       : background-color, border-color, box-shadow;
  transition-duration       : 85ms;
  transition-timing-function: ease;
  font-size                 : 14px !important;
}

.input-desc-edit {
  overflow                  : hidden;
  overflow-wrap             : break-word;
  resize                    : none;
  // height                 : 108px;
  width                     : 100%;
  // min-height             : 108px;
  background                : #fff;
  box-shadow                : none;
  display                   : block;
  border                    : none;
  box-sizing                : border-box;
  -webkit-appearance        : none;
  border-radius             : 3px;
  line-height               : 20px;
  transition-property       : background-color, border-color, box-shadow;
  transition-duration       : 85ms;
  transition-timing-function: ease;
  font-size                 : 14px !important;
}

.list-attachment {
  height     : 34px;
  display    : flex;
  align-items: center;
  cursor     : pointer;
  width      : 100%;
}

.list-attachment .text-menu-attachment {
  padding-left : 5%;
  padding-right: 5%;
}

.list-attachment:hover {
  background-color: #F4F7FC;
}

.btn-hover-edit:hover {
  background-color: #F4F7FC;
  border-radius   : 5px;
}

.edit-controls {
  clear     : both !important;
  margin-top: 8px;
}

.button-createlabel {
  background-color: rgba(9, 30, 66, .04) !important;
  box-shadow      : none;
  border          : none;
  cursor          : pointer;
  display         : inline-block;
  font-weight     : 400;
  line-height     : 20px;
  margin          : 8px 4px 0 0;
  padding         : 6px 12px;
  text-align      : center;
  width           : 100% !important;
}


.card-label {
  background-color       : #b3bac5;
  border-radius          : 4px;
  color                  : #fff;
  display                : block;
  margin-right           : 2px;
  max-width              : 100%;
  overflow               : hidden;
  padding                : 4px 6px;
  position               : relative;
  text-overflow          : ellipsis;
  white-space            : nowrap;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mod-clickable:hover {
  opacity: .8;
}

.mod-clickable {
  cursor: pointer;
}

.mod-edit-label {
  float  : left;
  height : 32px;
  margin : 0 8px 8px 0;
  padding: 0;
  width  : 48px;
}


.info-label-create {
  color         : #172b4d !important;
  // font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-size     : 14px !important;
  line-height   : 20px;
  font-weight   : 400;
}

.content-center {
  display        : flex !important;
  align-items    : center;
  justify-content: center;
}

.mod-card-front {
  float        : left;
  border-radius: 4px;
  font-size    : 12px;
  font-weight  : 700;
  height       : 8px;
  line-height  : 100px;
  margin       : 0 4px 4px 0;
  max-width    : 30px;
  min-width    : 30px;
  padding      : 0;
  text-shadow  : none;
  width        : auto;
}

.dialog-close-button {
  color           : #fff;
  border-radius   : 50%;
  position        : absolute;
  top             : -20px;
  right           : -10px;
  height          : 32px;
  overflow        : hidden;
  padding         : 4px;
  margin          : 4px;
  width           : 32px;
  z-index         : 2;
  transition      : background-color 85ms, color 85ms;
  background-color: hsla(0, 0%, 100%, 0.32);
}

.modal-close-without-cover {
  position     : absolute;
  top          : 3px;
  right        : 4px;
  border-radius: 100%;
  padding      : 0 4px;
}

.list-card-labels {
  overflow  : auto;
  position  : relative;
  margin-top: 0.5rem;
}

.edit-labels-pop-over {
  margin-bottom: 8px;
  list-style   : none;
  margin       : 0;
  padding      : 0;
}

.card-label-modal-selectable {
  border-radius         : 3px;
  cursor                : pointer;
  font-weight           : 700;
  margin                : 0 0 4px;
  min-height            : 28px;
  // padding            : 6px 12px;
  position              : relative;
  transition            : padding 85ms, margin 85ms, box-shadow 85ms;
  background-color      : #b3bac5;
  border-radius         : 4px;
  color                 : #fff;
  display               : flex;
  margin-right          : 4px;
  max-width             : 100%;
  overflow              : hidden;
  padding               : 4px 6px;
  position              : relative;
  text-overflow         : ellipsis;
  white-space           : nowrap;
  -webkit-font-smoothing: antialiased;
  align-items           : center;
}

.card-label-edit-button-icon {
  border-radius: 3px;
  padding      : 6px;
  position     : absolute;
  top          : 0;
  right        : 0;


}

.card-label-green {
  background-color: #61bd4f;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border: none !important;
}


.phenom {
  margin-left: 40px;
  min-height : 32px;
  padding    : 8px 0;
  position   : relative;
}

.phenom-creator {
  height  : 32px;
  left    : -40px;
  position: absolute;
  top     : 8px;
  width   : 32px;
}


.pop-over-header-close-btn {
  color   : #6b778c;
  padding : 10px 12px 10px 8px;
  position: absolute;
  top     : 0;
  right   : 0;
  z-index : 2;
  cursor  : pointer;
}

.pop-over-header-back-btn {
  color   : #6b778c;
  padding : 10px 12px 10px 8px;
  position: absolute;
  top     : 0;
  left    : 0;
  z-index : 2;
  cursor  : pointer;
}

.pop-over-checklist-label {
  position: absolute;
  right   : 10px;
}

body>div:nth-child(11)>div>div.ant-modal-wrap>div {
  width: 768px;
}

textarea {
  overflow-y: auto !important
}

.z-index-1000,
.ant-dropdown.z-index-1000 {
  z-index: 1000 !important;
}

@media only screen and (max-width:768px) {

  .mobile-trello {
    padding-top: 4rem !important
  }

  .width-trello-modal {
    width: 768px;
  }

  .windows-header {
    width: 768px;
  }
}

@media only screen and (max-width:425px) {
  .windows-header .top-window-header {
    margin    : 12px 0px 8px 40px;
    min-height: 32px;
    position  : relative;
    z-index   : 1;
  }

  body>div:nth-child(11)>div>div.ant-modal-wrap>div {
    width: 425px;
  }

  .window-module-title {
    display    : flex;
    align-items: center;
    min-height : 32px;
    padding    : 8px 0;
    position   : relative;
    margin     : 0 0 4px 40px;
  }

  .trello-button-modal {
    font-size   : 12px !important;
    min-width   : 175px;
    margin-right: 10px;
  }

  .btn-cancel-titlemodal {
    margin-top: 0.4% !important;
  }

  .width-trello-modal {
    width: 425px;
  }

  .windows-header {
    width: 410px;
  }

  .window-module-title {
    display    : flex;
    align-items: center;
    min-height : 32px;
    padding    : 8px 0;
    position   : relative;
    margin     : 0 0 4px 40px;
  }

  .dialog-close-button {
    color        : #fff;
    border-radius: 50%;
    position     : absolute;
    top          : -15%;
    right        : -5%;
  }

  .input-post-modaltrello {
    width: 90%;
  }
}

@media only screen and (max-width:375px) {
  .windows-header .top-window-header {
    margin    : 12px 0px 8px 40px;
    min-height: 32px;
    position  : relative;
    z-index   : 1;
  }

  .trello-button-modal {
    font-size: 12px !important;
    min-width: 150px;
  }

  body>div:nth-child(11)>div>div.ant-modal-wrap>div {
    width: 375px;


  }

  .btn-cancel-titlemodal {
    margin-top: 0.4% !important;
  }

  .width-trello-modal {
    width: 375px;
  }

  .windows-header {
    width: 96vw;
  }

  .window-module-title {
    display    : flex;
    align-items: center;
    min-height : 32px;
    padding    : 8px 0;
    position   : relative;
    margin     : 0 0 4px 40px;
  }

  .dialog-close-button {
    color        : #fff;
    border-radius: 50%;
    position     : absolute;
    top          : -15%;
    right        : -5%;
  }

  .input-post-modaltrello {
    width: 90%;
  }
}

@media only screen and (max-width:325px) {
  .windows-header .top-window-header {
    margin    : 12px 0px 8px 40px;
    min-height: 32px;
    position  : relative;
    z-index   : 1;
  }

  body>div:nth-child(11)>div>div.ant-modal-wrap>div {
    width: 325px;


  }



  .btn-cancel-titlemodal {
    margin-top: 0.4% !important;
  }

  .width-trello-modal {
    width: 325px;
  }

  .windows-header {
    width: 305px;
  }

  .window-module-title {
    display    : flex;
    align-items: center;
    min-height : 32px;
    padding    : 8px 0;
    position   : relative;
    margin     : 0 0 4px 40px;
  }

  .dialog-close-button {
    color        : #fff;
    border-radius: 50%;
    position     : absolute;
    top          : -15%;
    right        : -5%;
  }

  .input-post-modaltrello {
    width: 80%;
  }

  .post-mobile-trellomodal {
    width: 80%;
  }

  .trello-button-modal {
    font-size: 12px !important;
    min-width: 120px;
  }
}